// Global default params, used in configs
params {

    // Input options
    input                      = null
    single_end                 = false
    ont_long_reads             = false
    target_index               = null
    filter_index               = null

    // Boilerplate options
    outdir                     = './results'
    enable_conda               = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

}

profiles {
    chia         { includeConfig 'conf/chia.config'     }
}

singularity {
    enabled = true
}

process {
    withName: METASCOPE_ALIGN {
        ext.prefix = { "${meta.id}_${meta.index_prefix}.target" } 
    }
    withName: BAM_MERGE {
        ext.prefix = { "${meta.id}_merged" } 
    }
    withName: METASCOPE_ID {
        executor = 'local'
    }
    withName: MINIMAP2_ALIGN {
        ext.prefix = { "${meta.id}_${meta.index_prefix}.target" }
        ext.args = { [
            "--split-prefix ${meta.id}_${meta.index_prefix}"
        ].join(' ') }
        ext.args2 = [
            "-F 4"
        ].join(' ')
    }
    withName: TARGET_QNAMES {
        ext.args = [
            "-F 4"
        ].join(' ')
    }
    withName: MINIMAP2_FILTER {
        ext.prefix = { "${meta.id}_${meta.index_prefix}.filter" }
        ext.args2 = [
            "-F 4"
        ].join(' ')
    }
    withName: QNAMES_MERGE {
        ext.prefix = { "${meta.id}_merged" } 
    }
    withName: METASCOPE_TO_KRONA {
        executor = 'local'
    }
}