/*
========================================================================================
    Nextflow config file for running on chia
========================================================================================
    Defines everything required to run the pipeline on the chia LSF cluster.

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'chia profile'
    config_profile_description  = 'Increased setting to allow for pipeline execution on chia LSF cluster'

    // Limit resources so that this can run on normal queue
    max_cpus                    = 32
    max_memory                  = 60.GB
    max_time                    = 72.h
}

if (params.conda_cacheDir) {

    conda {
        // set conda cacheDir
        cacheDir = params.conda_cacheDir
    }

}

singularity {
    // set singularity cacheDir
    cacheDir = "/research/project/shared/benoukraf_lab/.singularity_cache"
}

if (params.workflow != 'setup') {

    process {

        withLabel: large_mem {
            cpus = 16
            memory = 240.GB
            queue = 'bio-analysis-lm'
        }

        withLabel: process_high {
            cpus = 30
            memory = 56.GB
        }

        withLabel: process_medium {
            cpus = 16
            memory = 24.GB
        }

        withLabel: process_low {
            cpus = 4
            memory = 8.GB
        }

        withName: METASCOPE_ID {
            executor = 'local'
            cpus = 2
            memory = 60.GB
        }

        withName: METASCOPE_TO_KRONA {
            executor = 'local'
            cpus = 2
        }

    }

}

executor {
    name            = 'lsf'
    queue           = 'normal'
    perJobMemLimit  = '60 GB'
    jobName         = 'MetaScope'
}
