/*
========================================================================================
    Nextflow config file for running with ONT settings
========================================================================================
    Defines everything required to run the pipeline on ONT long reads.

----------------------------------------------------------------------------------------
*/

params {
    // set the proper parameters for analyzing ONT long reads
    single_end                 = true
    workflow                   = 'ont_long_reads'
}
