/*
========================================================================================
    Nextflow config file for running on Touati's server
========================================================================================
    Defines everything required to run the pipeline on the intel server.

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'server profile'
    config_profile_description = 'Increased setting to allow for pipeline execution on the intel server'

    // Limit resources so that this can run within the available resources
    max_cpus   = 96
    max_memory = 384.GB
    max_time   = 72.h
}

singularity {
    autoMounts  = true
}

executor {
    name        = 'local'
}
